.projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: var(--desktop-margin);
}

.projects__headline {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: 64px 0;
}

.project {
    display: flex;
    border-radius: 10px;
    margin-bottom: 40px;
}

.project__image {
    width: 600px;
    border-radius: 5px;
    background-color: black;
}

.project__info {
    max-width: 600px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
        margin-bottom: 16px;
    }

    p {
        color: var(--dark-white);
    }
}

.project__featured {
    color: var(--primary);
    font-family: var(--monospace);
    font-size: 14px;
}

.project__tags {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    margin-top: 8px;
}