.projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    padding: 1.5rem;
}

.projects__headline {
    width: 100%;
    text-align: center;
    margin: 64px 0;
}

.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.project__image {
    padding: 1.5rem;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    max-width: clamp(200px, 600px, 700px);
}

.project__info {
    max-width: 600px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
        margin-bottom: 16px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            color: var(--color-primary);
        }
    }

    p {
        color: var(--color-dark-white);
        font-size: 14px;
    }
}

.project__featured {
    color: var(--color-primary);
    font-family: var(--font-monospace);
    font-size: 14px;
    user-select: none;
}

.project__tags {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    margin-top: 8px;
}

@media (min-width: 724px) {
    .project {
        flex-direction: row;
        margin-bottom: 80px;
    }

    .project:nth-of-type(even) {
        flex-direction: row-reverse;

        .project__info {
            padding-left: 0;
            padding-right: 32px;
        }
    }

    .project__info {
        padding-top: 0px;
        padding-left: 32px;
    }
}

@media (min-width: 1024px) {
    .project__info {
        h2 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media (min-width: 1600px) {
    .project {
        flex-direction: row;
        margin-bottom: 80px;
    }

    .project__image {
        max-width: 700px;
    }

    .project:nth-of-type(even) {
        flex-direction: row-reverse;

        .project__info {
            padding-left: 0;
            padding-right: 50px;
        }
    }

    .project__info {
        padding-top: 0px;
        padding-left: 50px;
    }
}