.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

.project__image {
    border-radius: 5px;
    max-width: 500px;
}

.project__featured {
    font-size: .8rem;
    color: var(--color-primary);
    font-family: var(--font-monospace);
    padding: .5rem 0;
    user-select: none;
}

@media (min-width: 55rem) {
    .project {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media (min-width: 1200px) {
    .project {
        gap: 3rem;
    }
}