.menu {
    width: 100%;
    height: 100vh;
    background-color: #000611;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform ease-in-out .5s;
}

.menu--show {
    transform: translateX(0);
}

.menu__close {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 1.5rem;
}

.menu__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;

    a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.5rem;

        &:hover {
            color: var(--color-primary);
        }
    }
}
