.article-tags {
    display: flex;
    gap: .8rem;
    padding: 1rem 0;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
      }
}

.article-tags--wrap {
    flex-wrap: wrap;
}

.article-tag {
    display: flex;
    background-color: #222B3C;
    padding: .5rem;
    color: var(--color-dark-white);
    text-decoration: none;
    width: min-content;
    border-radius: 5px;
    font-size: .8rem;
    white-space: nowrap;

    &:hover {
        color: var(--color-white);
    }
}