.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: var(--font-primary);
    font-weight: 500;
    text-decoration: none;
    padding: 0 32px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    transition: background-color ease-in-out .2s, border-color ease-in-out .2s, color ease-in-out .2s;
}

.ghost-btn {
    background-color: transparent;
}

.ghost-btn.light-btn {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.ghost-btn.dark-btn {
    border: 2px solid var(--color-background);
    color: var(--color-background);
}

.ghost-btn:hover {
    color: var(--background);
    background-color: var(--white);
    border-color: var(--white);
}

.solid-btn.light-btn {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-background);
}

.solid-btn.dark-btn {
    border: 2px solid var(--color-background);
    background-color: var(--color-background);
    color: var(--color-primary);
}

.solid-btn:hover {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.stretched-btn {
    width: 100%;
}
