.hero {
    --image-size: clamp(160px, 75vw, 280px);
    display: flex;
    flex-direction: column;

    .hero__name {
        color: var(--color-primary);
    }
}

.hero__first-panel {
    display: flex;
    justify-content: center;
}

.hero__me {
    border-radius: 70px 0;
    width: var(--image-size);
    height: var(--image-size);
    margin-bottom: -20px;
}

.hero__second-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__info {
    h1 {
        font-size: clamp(1rem, 1rem + 4vw, 2.7rem);
        line-height: 120%;
    }
}

.hero__btn {
    margin-top: 1.2rem;
}

.hero__socials {
    color: var(--color-primary);
    margin-top: 3rem;
}

@media (min-width: 40rem) {
    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .hero__me {
        margin: 0;
        width: auto;
        height: auto;
    }

    .hero__info {
        h1 {
            font-size: clamp(2.4rem, 1rem + 3.5vw, 4.4rem);
            line-height: 120%;
        }
    }
}

@media (min-width: 1200px) {
    .dots {
        width: 200px;
        height: 70px;
    }

    .hero__first-panel {
        width: 62%;
    }

    .hero__me {
        border-radius: 125px 0px;
    }

    .hero__info {
        p {
            font-size: 20px;
        }
    }
}
