.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    font-weight: 900;
    padding: 30px;

    .logo {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .notfound-links {
        position: absolute;
        bottom: 44px;

        .icon {
            width: 3em;
            height: 3em;
        }
    }
}

.notfound-description {
    font-size: 4em;
}

.notfound-status {
    font-size: 8em;
}

@media (max-width: 600px) {
    .notfound {
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .notfound {
        font-size: 10px;
    }
}