.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    font-weight: 900;
    padding: var(--mobile-margin);
    font-size: 10px;

    .logo {
        position: absolute;
        top: var(--mobile-margin);
        left: var(--mobile-margin);
    }

    .notfound-links {
        position: absolute;
        bottom: var(--mobile-margin);
    }
}

.notfound-description {
    font-size: 4em;
}

.notfound-status {
    font-size: 8em;
}

@media (min-width: 700px) {
    .notfound {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .notfound {
        font-size: 16px;
        padding: var(--desktop-margin);

        .logo {
            top: var(--desktop-margin);
            left: var(--desktop-margin);
        }

        .notfound-links {
            bottom: var(--desktop-margin);
        }
    }
}