.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-background);
    font-weight: 900;
    padding: 1.5rem;
    font-size: 10px;

    .logo {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }

    .notfound__links {
        position: absolute;
        bottom: 1.5rem;
    }
}

.notfound__description {
    font-size: 4em;
}

.notfound__status {
    font-size: 8em;
}

@media (min-width: 700px) {
    .notfound {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .notfound {
        font-size: 1rem;
        padding: 2rem;

        .logo {
            top: 2rem;
            left: 2rem;
        }

        .notfound__links {
            bottom: 2rem;
        }
    }
}