body {
  font-family: 'Lexend Variable', sans-serif;
  overflow-x: hidden;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
  --color-primary: 2 89 94;
  --color-accent: 169 215 218;
}

.icon {
  @apply w-6 h-6;
}

::-moz-selection {
  color: #fff;
  background-color: rgb(var(--color-primary));
}

::selection {
  color: #fff;
  background-color: rgb(var(--color-primary));
}

.blogpost {
  @apply prose prose-sm sm:prose-base lg:prose-lg xl:prose-xl mx-auto
}
