@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-base: #F6F9FF;
        --color-base-dark: #E3E9F3;
        --color-paragraph: #4C4F69;
        --color-heading: #130303;
        --color-primary: #1E66F5;
        --color-secondary: #0390c7;
        --color-accent: #508BFE;
    }
    .theme-dark {
        --color-base: #11111B;
        --color-base-dark: #000611;
        --color-paragraph: #e4ecfb;
        --color-heading: #FAFAFA;
        --color-primary: #a4c1ff;
        --color-secondary: #6fcaef;
        --color-accent: #5b88d3;
    }
}

@layer utilities {
    .grid-reverse > *:first-child {
        grid-column-end: -1 !important;
    }
}

html,
body {
    scroll-behavior: smooth;
}

body {
    @apply font-poppins bg-body text-paragraph transition-colors;
}

::-moz-selection {
    color: var(--color-base);
    background: var(--color-accent);
}

::selection {
    color: var(--color-base);
    background: var(--color-accent);
}

.svg path {
    fill: currentColor;
}

.icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: inherit;
}

.technology {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: inherit;
}
