@import "tailwindcss";

html,
body {
  margin: 0;
  font-family: "DM Sans Variable", sans-serif;
  background: #f8faff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --clr-primary: 20, 174, 92;
  --clr-primary-darken: 14, 123, 65;
}

@theme {
  --color-primary: rgb(var(--clr-primary));
  --color-primary-darken: rgb(var(--clr-primary-darken));
}

::-moz-selection {
  color: #fff;
  background-color: rgb(var(--clr-primary));
}

::selection {
  color: #fff;
  background-color: rgb(var(--clr-primary));
}

/* Hamburger Menu Animation */
.hamburger-line-top {
  transform: translateY(-6px);
}

.hamburger-line-middle {
  transform: translateY(0);
}

.hamburger-line-bottom {
  transform: translateY(6px);
}

#menu-toggle:checked + label .hamburger-line-top {
  transform: translateY(0) rotate(45deg);
}

#menu-toggle:checked + label .hamburger-line-middle {
  opacity: 0;
}

#menu-toggle:checked + label .hamburger-line-bottom {
  transform: translateY(0) rotate(-45deg);
}
