* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    --font: 'Prompt', sans-serif;
    --monospace: 'Roboto Mono', monospace;
    --primary: #EB5757;
    --background: #0E0E0E;
    --white: #FAFAFA;
    --dark-white: #DEDEDE;
    --mobile-margin: 30px;
    --desktop-margin: 40px;

    font-family: var(--font);
    background-color: var(--background);
}
