.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        width: 52px;
        height: 52px;
        transition: transform ease-in-out .2s;
    
        &:hover {
            transform: scale(1.2);
        }
    }

}

.skill__label {
    color: var(--color-dark-white);
    font-family: var(--font-monospace);
    font-size: 10px;
    margin-top: 10px;
}

@media (min-width: 1024px) {
    .skill__label {
        font-size: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 1400px) {
    .skill {
        svg {
            width: 72px;
            height: 72px;
        }
    }
}

.tag {
    display: flex;
    justify-content: center;
    height: 32px;
    align-items: center;
    background-color: #404040;
    color: var(--color-white);
    padding: 4px 12px;
    font-family: var(--font-monospace);
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    user-select: none;
    margin: 0 4px;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}