.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.skill__label {
    color: var(--dark-white);
    font-family: var(--monospace);
    font-size: 12px;
    margin-top: 12px;
}