.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 1.5rem;

    .skill {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        font-size: .7rem;
        font-family: var(--font-monospace);
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        color: var(--color-dark-white);
        background-color: #000611;
    }

    .tech-icon {
        width: 2rem;
        height: 2rem;
        transition: transform ease-in-out .2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.tag {
    display: flex;
    justify-content: center;
    height: 32px;
    align-items: center;
    background-color: #222B3C;
    color: var(--color-white);
    padding: 4px 12px;
    font-family: var(--font-monospace);
    font-size: 11px;
    font-weight: 400;
    border-radius: 5px;
    user-select: none;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}

@media (min-width: 40rem) {
    .skills {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

        .skill {
            gap: .9rem;
            font-size: .8rem;
            padding: 2rem;
        }

        .tech-icon {
            width: 3rem;
            height: 3rem;
        }
    }
}

@media (min-width: 1200px) {
    .skills {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

        .tech-icon {
            width: 4rem;
            height: 4rem;
        }
    }
}