.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        width: 52px;
        height: 52px;
        transition: transform ease-in-out .2s;
    
        &:hover {
            transform: scale(1.2);
        }
    }

}

.skill__label {
    color: var(--dark-white);
    font-family: var(--monospace);
    font-size: 10px;
    margin-top: 10px;
}

@media (min-width: 700px) {
    .skill {
        svg {
            width: 52px;
            height: 52px;
        }
    }
}

@media (min-width: 1024px) {
    .skill {
        svg {
            width: 64px;
            height: 64px;
        }
    }

    .skill__label {
        font-size: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 1400px) {
    .skill {
        svg {
            width: 72px;
            height: 72px;
        }
    }
}