.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: var(--mobile-margin);
    background-color: var(--background);
}

.about__me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.about__details {
    width: 100%;
    color: var(--white)
}

.about__description {
    color: var(--dark-white);
    margin-bottom: 24px;
}

.about__headline {
    text-align: center;
}

.about__headline2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.about__skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 16px;
}

@media (min-width: 400px) {
    .about__skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 600px) {
    .about__skills {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1024px) {
    .about {
        width: 100%;
        display: grid;
        padding: 0;
        margin: 0;
        grid-template-columns: .4fr .6fr;
    }

    .about__me {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin-bottom: 0;
        min-height: 100vh;
    }

    .about__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 100vh;
        padding: 80px;
    }

    .about__description {
        font-size: 20px;
        margin-bottom: 80px;
    }

    .about__headline {
        text-align: left;
        font-size: 40px;
        margin-bottom: 16px;
    }

    .about__headline2 {
        text-align: left;
        font-size: 32px;
        margin-bottom: 16px;
    }
}

@media (min-width: 1400px) {
    .about__skills {
        gap: 32px;
    }
}

@media (min-width: 1600px) {
    .about__details {
        padding: 120px;
    }
}