.contact__alternatives {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .contact__alternative {
        color: var(--color-primary);
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        width: min-content;

        &:hover {
            color: var(--color-dark-white);

            .icon {
                transform: scale(1.1);
                transition: transform ease-in-out .2s;
            }
        }
    }
}

form {
    width: 100%;
    margin-top: 2rem;

    label {
        font-size: 0.9rem;
        margin-bottom: .6rem;
    }

    input,
    textarea {
        width: 100%;
        font-family: var(--font-primary);
        margin: 1rem 0;
        display: block;
        resize: none;
    }

    input:focus,
    textarea:focus {
        outline: none;
        border-color: var(--color-primary);
    }

    input {
        padding: .8rem;
        background-color: #03070D;
        border: 1px solid var(--color-dark-white);
        border-radius: 5px;
        color: var(--color-dark-white);
    }

    textarea {
        height: 250px;
        padding: .8rem;
        background-color: #03070D;
        border: 1px solid var(--color-dark-white);
        border-radius: 5px;
        color: var(--color-dark-white);
    }
}

@media (min-width: 40rem) {
    form {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    .contact {
        display: flex;
        gap: 10rem;
    }
}