---
import FuzzyText from "../components/FuzzyText";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col justify-center items-center py-32 lg:py-64">
    <FuzzyText text="404" client:only color="#000000" baseIntensity={0.2} hoverIntensity={0.5} enableHover={false} />
    <br />
    <FuzzyText text="Not Found" client:only color="#000000" baseIntensity={0.2} hoverIntensity={0.5} enableHover={false} />
  </div>
</Layout>
