---
import Layout from '../layouts/Layout.astro';
import { Navigation } from '../components/Navigation';
import { Footer } from '../components/Footer';
import Contact from '../components/Contact.astro';
import { ScrollToTop } from '../components/ScrollToTop';
import FeaturedPosts from '../components/FeaturedPosts.astro';
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Portfolio from '../components/Portfolio.astro';
---
<Layout>
	<div class="flex flex-col w-full items-center">
		<Navigation />
		<Hero />
		<About />
		<Experience />
		<Portfolio />
		<FeaturedPosts />
		<Contact />
		<Footer />
	</div>
	<ScrollToTop client:only />
</Layout>
