---
import BaseHead from '../components/BaseHead.astro';
import Button from '../components/Button.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="w-full h-svh flex items-center justify-center">
			<div>
				<h1 class="mb-7 font-medium leading-relaxed text-center text-6xl">
					My name is <span class="text-primary">Michał</span>.<br>I am developer.
				</h1>
				<p class="text-center text-slate-500 text-xl">I am software developer based in Poland.</p>

				<div class="flex justify-center gap-4 mt-7">
					<Button>Hire me</Button>
					<Button variant='bordered'>See projects</Button>
				</div>
			</div>
		</div>
	</body>
</html>
