.header {
    width: 100%;
    padding: 2rem var(--size-margin);
    color: var(--color-dark-white);

    .header__nav {
        display: none;

        a {
            text-decoration: none;
            padding: 0 16px;
            font-weight: 500;
            color: currentColor;
        
            &:hover {
                color: var(--color-primary);
                cursor: pointer;
            }
        }

        a.active {
            color: var(--color-primary);
        }
    }
}

.header__menu {
    cursor: pointer;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 40rem) {
    .header {
        .header__nav {
            display: flex;
            align-items: center;
            gap: .5rem;

            button {
                padding: 1rem;
            }
        }

        .header__menu {
            display: none;
        }
    }
}