---
import Container from "./Container.astro";

---
<section class="bg-[#F6FFFF] py-20 sm:py-32">
  <Container>
    <h1 class="font-semibold relative text-3xl before:absolute before:w-16 before:rounded-lg before:-top-5 before:bg-primary before:h-2">About</h1>
    <p class="text-slate-700 sm:text-lg max-w-2xl mt-4">
      I'm Michał, a software developer from Poland. I'm all about backend development, tinkering with operating systems. I enjoy creating and contributing to open source software, as I believe in the power of collaboration and sharing knowledge.  Besides programming, I like metal music, video games, history, and dogs.
    </p>

    <h2 class="font-semibold text-2xl mt-16">Tech stack</h2>
    <p class="text-slate-700 sm:text-lg max-w-2xl mt-2">
      Some technologies and tools I use on daily basis.
    </p>
  </Container>
</section>
