---
import { Image } from 'astro:assets';
import Container from "./Container.astro";

import { skills, mapIcon } from '../skills';
import placeholder from '../assets/placeholder.png';
import umcs from '../assets/umcs.png';

import { Icon } from 'astro-icon/components';
---
<section id="about" class="bg-accent/10 py-20 sm:py-32">
  <Container class="">
    <div class="flex flex-col-reverse md:flex-row gap-16 md:gap-8 justify-between">
      <div>
        <h1 class="font-semibold relative text-3xl before:absolute before:w-16 before:rounded-lg before:-top-5 before:bg-primary before:h-2">About</h1>
        <p class="text-slate-700 leading-loose sm:text-lg sm:leading-loose max-w-2xl mt-4">
          I'm Michał, a software developer from Poland. I'm all about backend development, tinkering with operating systems. I enjoy creating and contributing to open source software, as I believe in the power of collaboration and sharing knowledge.  Besides programming, I like metal music, video games, history, and dogs.
        </p>
    
        <h2 class="font-semibold text-2xl mt-8 hidden">Education</h2>
        <div class="gap-4 mt-4 hidden">
          <Image width="72" height="72" class="max-w-20 max-h-20 bg-white p-2.5 rounded-lg border" src={umcs} alt="UMCS logo" />
          <div class="flex flex-col">
            <a 
              class="font-semibold text-md hover:text-primary"
              href="https://www.umcs.pl/en/"
              target="_blank"
            >
              Maria Curie-Skłodowska University in Lublin (UMCS)
            </a>
            <p class="text-slate-700">Bachelor's degree, Computer Science</p>
            <p class="text-slate-500 text-sm">2023 - today</p>
          </div>
        </div>

        <h2 class="font-semibold text-2xl mt-16">Tech stack</h2>
        <p class="text-slate-700 sm:text-lg max-w-2xl mt-2">
          Some technologies and tools I use on daily basis.
        </p>
        
        <div class="flex gap-3 flex-wrap mt-5">
          {skills.map((name) => (<div class="flex gap-3 justify-center items-center bg-[#E0F1F1] py-1.5 px-4 font-semibold text-sm rounded">
            <Icon class="w-7 h-7" name={mapIcon(name)} />
            {name}
          </div>))}
        </div>

      </div>
      <Image class="hidden md:inline-block border-2 max-h-96 lg:max-h-[600px] xl:max-h-[600px] border-accent max-w-[450px] rounded-lg" src={placeholder} alt="literally me" />
    </div>
  </Container>
</section>
