---
import { Icon } from 'astro-icon/components';
import Button from '../components/Button.astro';
import Container from '../components/Container.astro';

import { EMAIL } from '../consts';
---
<section id="contact" class="py-20 sm:py-32 md:py-40 lg:py-56 ">
  <Container>
    <div>
      <h1 class="font-semibold text-center text-3xl">Contact</h1>
      <p class="text-slate-700 text-center leading-loose sm:text-lg sm:leading-loose mt-2">
        Feel free to to contact me any time, my inbox is always open.
      </p>

      <form class="my-12"action={`https://formsubmit.co/${EMAIL}`} method="POST">
        <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="flex flex-col gap-4">
            <input 
              class="bg-gray-100 p-4 rounded-lg focus:border-primary focus:ring-primary focus:outline-none border-2"
              placeholder="Name"
              name='name'
              required
            />
            <input 
              class="bg-gray-100 p-4 rounded-lg focus:border-primary focus:ring-primary focus:outline-none border-2" 
              placeholder="Email address" 
              type="email"
              name='email'
              required
            />
            <input 
              class="bg-gray-100 p-4 rounded-lg focus:border-primary focus:ring-primary focus:outline-none border-2"
              placeholder="Subject"
              name="_subject"
              required
            /> 
          </div>
          <div class="flex md:col-span-2 gap-4">
            <textarea 
              class="bg-gray-100 p-4 w-full rounded-lg min-h-60 md:min-h-full focus:border-primary focus:ring-primary focus:outline-none border-2"
              placeholder="Your message"
              name="message"
              required
            />
          </div>
        </div>
        <div class="flex justify-end">
          <Button type="submit" class="mt-8 py-6">
            Send message
            <Icon class="w-4 h-4" name="lucide:send-horizontal" />
          </Button>
        </div>
      </form>

      <h3 class="mt-4 font-semibold text-center text-lg md:text-xl">Want to send an email? Write to:</h3>
      <div class="w-full flex justify-center mt-3">
        <a href="mailto:mail@michaldziuba.dev" class="break-all font-bold hover:text-primary inline-block text-center text-xl md:text-3xl">
          {EMAIL}
        </a>
      </div>
    </div>
  </Container>
</section>
