---
import { Button } from "./Button";
import { Container } from './Container';
import { FormInput, FormTextarea } from './FormComponents';
import { SocialLinks } from './SocialLinks';
import { SectionHeading } from './SectionHeading';
import { LuSendHorizontal } from 'react-icons/lu';
---

<section  id="contact" class="w-full py-24 md:py-lg md:pt-sm flex flex-col items-center gap-8 overflow-x-hidden sm:flex-row md:gap-16">
  <Container className="flex flex-col w-full animated">
    <SectionHeading>
      Contact me
    </SectionHeading>

    <div class="w-full flex flex-col lg:flex-row justify-between gap-8 mt-8">
      <div class="flex flex-col gap-8">
        <p class="sm:text-lg">
          Feel free to to contact me any time, my inbox is always
          open.
        </p>

        <!--
        <div class="flex flex-col gap-1.5">
          <span>
            <span class="font-black">NIP:</span>
            <span>5060127126</span>
          </span>

          <span>
            <span class="font-black">REGON:</span>
            <span>540383170</span>
          </span>
        </div>
        -->

        <SocialLinks />
      </div>

      <form
        class="w-full"
        action="https://formsubmit.co/mail@michaldziuba.dev"
        method="POST"
      >
        <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="flex flex-col gap-4">
            <FormInput
              name="name"
              placeholder="Name"
              required
            />
            <FormInput
              name="email"
              placeholder="Email address"
              type="email"
              required
            />
            <FormInput
              name="_subject"
              placeholder="Subject"
              required
            />
          </div>
          <div class="flex md:col-span-2 gap-4">
            <FormTextarea
              name="message"
              placeholder="Your message"
              className="min-h-60 md:min-h-full"
              required
            />
          </div>
        </div>

        <div class="w-full flex justify-end mt-8">
          <Button variant="black">
            Send email 
            <LuSendHorizontal className="w-[18px] h-[18px]" />
          </Button>
        </div>
      </form>
    </div>
  </Container>
</section>

<div class="mb-16 flex flex-col items-center justify-center">
  <Container>
    <h3 class="mt-4 font-semibold text-center text-lg md:text-xl">
      Want to send an email directly? Write to:
    </h3>
    <div class="w-full flex justify-center mt-3">
      <a
        href="mailto:mail@michaldziuba.dev"
        class="break-all font-black hover:text-primary inline-block text-center text-xl md:text-3xl"
      >
        mail@michaldziuba.dev
      </a>
    </div>
  </Container>
</div>
