---
import { ExperienceItem } from './ExperienceItem';
import { Container } from './Container';
import { SectionHeading } from './SectionHeading';
---

<section id="experience" class="py-24 md:py-lg md:pt-sm">
  <Container>
    <div class="w-full flex flex-col lg:flex-row lg:justify-between lg:gap-32">
      <div class="mb-8 lg:mb-0">
        <SectionHeading>
          Experience and education
        </SectionHeading>
        <p class="mt-6 max-w-[600px]">
          I have contributed to real-world software projects in a professional setting,
          working closely with teams to deliver reliable code.
        </p>
      </div>

      <div class="flex flex-col w-full items-start lg:items-center gap-6">
        <ExperienceItem 
          position="Software Developer" 
          place="2cW" 
          contract="Internship"
          location="Hybrid (Lublin, Poland)"
        />
        <ExperienceItem 
          position="Software Developer" 
          place="Ever Technologies" 
          contract="B2B Contract"
          location="Remote"
        />
        <ExperienceItem 
          position="Bachelor of Computer Science" 
          place="Maria Curie-Skłodowska University"
          location='Lublin, Poland'
        />
      </div>
    </div>
  </Container>
</section>
