---
import { PostCard } from "./PostCard";
import { getPosts } from "../content";
import { urlForImage } from "../sanity/lib/utils";
import { Container } from './Container';
import { SectionHeading } from './SectionHeading';

const posts = await getPosts(3);
---

<div class="bg-primary/[4%] flex items-center justify-center w-full">
  <section id="blog" class="py-24 md:py-lg md:pt-sm flex flex-col items-center overflow-x-hidden">
    <Container className="w-full">
      <div class="w-full">
        <SectionHeading>
          Featured posts
        </SectionHeading>
        <p class="mt-2">
          Explore my latest articles and insights on software development, design, and more.
        </p>
      </div>
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12">
      {
        posts.map((post) => (
          <div>
            <PostCard
              title={post.title}
              description={post.description}
              slug={post.slug.current}
              image={urlForImage(post.mainImage.asset).size(600, 300).url()}
              author={{
                name: post.author.name,
                avatar: urlForImage(post.author.image.asset).size(32, 32).url(),
              }}
              pubDate={new Date(post._createdAt)}
              category={post.category}
            />
          </div>
        ))
      }
      </div>
    </Container>
  </section>
</div>
