---
import Button from '../components/Button.astro';
import Underline from '../components/Underline.astro';
import Dots from '../components/Dots.astro';
import Container from '../components/Container.astro';
import { MouseIcon } from 'lucide-react';

---
<section class="py-20 sm:py-32 md:py-40 lg:py-56 ">
  <Container>
    <div class="w-full flex items-center justify-center">
      <div class="relative">
        <Dots class="absolute hidden md:block -z-10 -right-10 top-0" />
        <h1 class="mb-7 font-medium tracking-wide sm:text-center text-5xl leading-snug sm:leading-snug md:text-6xl md:leading-snug lg:text-7xl lg:leading-snug ">
          My name is <span class="text-primary">Michał</span>.
          <br>
          I am <span class="relative">developer.<Underline class="w-full absolute -bottom-4 mt-4 right-0 -z-10" /></span>
        </h1>
        <p class="sm:text-center text-slate-500 sm:text-lg md:text-xl">I am software developer based in Poland.</p>

        <div class="flex sm:justify-center gap-4 mt-7">
          <Button>See projects</Button>
          <Button variant='bordered'>Contact</Button>
        </div>

        <div class="mt-24 flex flex-col items-center">
          <MouseIcon className="w-8 h-8 animate-bounce" />
        </div>
      </div>
    </div>
  </Container>
</section>
