---
import { SiGithub } from 'react-icons/si';
import { Button } from './Button';
import { Container } from './Container';
import { LuChevronsDown, LuChevronRight } from 'react-icons/lu';
---

<section id="hero" class="py-16 sm:py-24 md:py-32 w-full overflow-x-hidden bg-[radial-gradient(#5e6e65,transparent_1px)] [background-size:16px_16px] lg:[mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]">
  <Container className="w-full">

    <div class="py-8 px-4 mx-auto w-full text-center lg:py-16 lg:px-12">
        <a href="/blog" target="_blank" class="inline-flex gap-3 justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full hover:bg-gray-200" role="alert">
            <span class="text-xs bg-green-600 rounded-full text-white p-1.5 px-3.5 font-semibold">
              New
            </span>
            <span class="text-sm font-medium">Checkout my blog</span>
            <LuChevronRight className='w-4 h-4' />
        </a>


        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Building the Future, Line by Line.</h1>
        <p class="mb-8 font-normal text-slate-800 lg:text-lg sm:px-16 xl:px-48">I'm Michał, a Software Developer and Open Source Contributor passionate about building efficient and scalable solutions.</p>
        <div class="flex mb-8 lg:mb-16 space-y-4 flex-wrap justify-center gap-4">
            
            <div>
              <Button>See projects</Button>
              </div>
            <div>
              <Button variant='outline' className='bg-white'>Resume</Button>
            </div>
          </div>
        </div>
    </div>
  </Container>

  <div class="flex justify-center mt-20">
    <div class="flex flex-col text-4xl items-center animate-bounce">
      <LuChevronsDown />
    </div>
  </div>
</section>

