---
import { Icon } from "astro-icon/components";
---
<script>
const closeMenuBtn = document.querySelector('#close-menu');
const openMenuBtn = document.querySelector("#open-menu");
const menu = document.querySelector('#menu');

function setMenuStyle(value: string) {
  if (!menu) return;
  menu.setAttribute('style', value);
}

closeMenuBtn?.addEventListener('click', () => {
  setMenuStyle('transform: translateY(-100%);');
});

openMenuBtn?.addEventListener('click', () => {
  if (!menu) return;
  setMenuStyle('transform: translateY(0);');
});

</script>

<button id="open-menu" class="sm:hidden">
  <Icon class="text-primary h-8 w-8" name="lucide:menu" />
</button>

<div id="menu" class="-translate-y-full transition-transform delay-[40] w-full h-full bg-primary z-50 text-white fixed top-0 left-0 flex flex-col justify-center items-center gap-10 text-4xl">
  <a href="/" class="hover:text-gray-300">Home</a>
  <!-- <a href="/resume" class="hover:text-gray-300">Resume</a> -->
  <a href="/blog" class="hover:text-gray-300">Blog</a>

  <button id="close-menu">
    <Icon class="absolute top-6 right-4 hover:text-gray-300" name="lucide:x" />
  </button>
</div>
