---
import Container from "./Container.astro";

---
<section class="py-20 sm:py-32">
  <Container>
    <div class="flex flex-col justify-center">
      <h1 class="font-semibold text-center text-3xl">Showcase</h1>
      <p class="text-slate-700 text-center leading-loose sm:text-lg sm:leading-loose mt-2">
        My open source contributions and side projects.
      </p>
  
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8 mt-16">
        <div class="p-32 bg-red-700">Proj1</div>
        <div class="p-32 bg-blue-700">Proj2</div>

        <div class="p-32 bg-green-700">Proj1</div>
        <div class="p-32 bg-pink-700">Proj2</div>
      </div>
    </div>
  </Container>
</section>
