---
import { Icon } from "astro-icon/components";

---
<script is:inline>
function share() {
  const url = window.location.href;

  if (navigator.share) {
    navigator.share({ url });
  } else {
    navigator.clipboard.writeText(url);
    document.querySelector("#shared").style.display = "block";
    setTimeout(() => {
      document.querySelector("#shared").style.display = "none";
    }, 2500);
  }
}
</script>

<div class="flex gap-3">
  <button class="p-2 hover:text-primary relative" onclick="share()">
    <span id="shared" class="z-40 absolute right-0 -bottom-8 bg-black/75 rounded text-white font-semibold text-xs p-2" style="display: none;">Copied</span>
    <Icon class="w-6 h-6" name="lucide:share" />
  </button>
</div>
