---
export interface Props {
  src: string;
}

const { src } = Astro.props;

function getID(url: URL) {
  switch (url.hostname) {
    case "youtu.be":
      return url.pathname.slice(1);
    case "www.youtube.com":
      return url.searchParams.get("v");
    default:
      return null;
  }
}

function getStart(url: URL) {
  return url.searchParams.get('t');
}

const url = new URL(src);
const id = getID(url);
const start = getStart(url);

---
<style>
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
</style>
<div class='embed-container'>
  <iframe
  src={`https://www.youtube.com/embed/${id}?start=${start}`}
  title="YouTube video player" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" 
  allowfullscreen
  >
  </iframe>
</div>
