.socials {
    display: flex;
}

.socials__link {
    margin: 0 16px;
    color: currentColor;
        
    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    .icon {
        width: 30px;
        height: 30px;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
            transition: transform ease-in-out .3s;
        }
    }
}

@media (min-width: 1024px) {
    .socials__link {
        .icon {
            width: 40px;
            height: 40px;
        }
    }
}