.stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 16px;
}

@media (min-width: 400px) {
    .stack {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 600px) {
    .stack {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1400px) {
    .stack {
        gap: 32px;
    }
}